{{ partial "head.html" . }}
<article class="list">
    {{ partial "header.html" . }}
    {{ if eq .Title "Tags" }}
        <h1>Filter by Tag</h1>
        {{ range .Pages }}
            <a class="tag large" id="tag_{{ .Title | lower }}"
                    href="{{ .Permalink }}">#{{ .Title }}</a>
        {{ end }}
    {{ else }}
        {{ if eq .Parent.Title "Tags" }}
            {{ $lenPages := len .Pages }}
            <h1 style="margin-bottom: 0">
                #{{ .Title }}
            </h1>
            <h2>
                {{ $lenPages }}
                {{ if eq $lenPages 1 }}
                    result
                {{ else }}
                    results
                {{ end }}
            </h2>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ range .Pages.ByDate }}
            {{ partial "post.html" . }}
        {{ end }}
    {{ end }}
</article>
