{{ define "main" }}
<main>
    <article class="list">
        {{ partial "header.html" . }}
        {{ .Content }}
        <h1>{{ .Title }}</h1>
        <div class="card-list">
            {{ range .Site.Sections }}
                <a href="{{ .RelPermalink }}" class="section-card-anchor">
                    <div class="section-card-container">
                        <div class="section-card">
                            <div class="cover">
                                {{ with .Params.cover }}
                                    <img src='{{ . }}'>
                                {{ end }}
                                <div class="description">
                                    <p>
                                        {{ .Description | safeHTML }}
                                    </p>
                                    <p class="middle">
                                        <i class="bi bi-journals"></i>
                                        {{ len .Pages }}
                                    </p>
                                </div>
                            </div>
                            <div class="title">
                                {{ .Title }}
                            </div>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </article>
</main>
{{ end }}
